Author: chpwn <tweak@chpwn.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: No Badges
Package: com.chpwn.no-badge
Section: Tweaks
Pre-Depends: firmware (>= 3.0)
Version: 1.0
Architecture: iphoneos-arm
Description: No badges. Ever.
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=nobadgesData
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=nobadgesData
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: purpose::extension
dev: chpwn
