Author: chpwn <listlauncher@chpwn.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: ListLauncher
Package: com.chpwn.listlauncher
Section: Tweaks
Pre-Depends: firmware (>= 4.0)
Depends: mobilesubstrate
Version: 1.2
Architecture: iphoneos-arm
Description: Scrolling list of all your apps for quick access!
Depiction: http://chpwn.com/cydia/listlauncher.html
Homepage: http://chpwn.com/cydia/listlauncher.html
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: cydia::commercial, purpose::extension
dev: chpwn
