Author: chpwn <support@chpwn.com>
Maintainer: BigBoss <bigboss@thebigboss.org>
Name: FaceForward
Package: com.chpwn.faceforward
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 4.2.1), gsc.ipad
Version: 1.0
Architecture: iphoneos-arm
Description: Re-enable Facebook for iPad.
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=faceforwardData
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=faceforwardData
Sponsor: thebigboss.org <http://thebigboss.org>
Tag: purpose::extension
dev: chpwn
