Package: com.chpwn.internalizer
Name: internalizer
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: chpwn
Author: chpwn
Section: Tweaks
